<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="lamdatest">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Regression">
        <classes>
           <class name="testCases.Search.SearchTests"/>
            <class name="testCases.Landing.LandingTests"/>
            <class name="testCases.Register.RegisterTests"/>
        </classes>
    </test>
</suite>